.nav_btn{
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 10px;
  background-color: #444444;
  color: #ffffff;
  font-size: 20px;
}


